<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer" />        
        <title>SegundaAtividade</title>
    </head>
    <body>
        <nav class="navbar bg-primary shadow mb-3 navbar-expand-lg">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1" style="color: white;">{% block 'header' %}Home{% endblock %}</span>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'home' %}  style="color: white">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'cliente.home'%}  style="color: white">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'produto.home'%}  style="color: white">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'pedido.home'%}  style="color: white">Pedidos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'categoria.home'%}  style="color: white">Categorias</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href={% url 'fornecedor.home'%}  style="color: white">Fornecedores</a>
                        </li>
                    </ul>
                </div>
            </div>
            
        </nav>
        
        
        <div class="container">
            {% block 'conteudo' %}
            {% endblock %}
        </div>
    </body>
</html>