{% extends 'index.html' %}
{% load widget_tweaks %}

{% block 'header' %}
Editar {{nome}}
{% endblock %}
{% block 'conteudo' %}

<form method="POST" class="form container row g-3">
    {% csrf_token %}
    {% render_field form.id %}
    <div class="col-sm-6">
        <p class="align-middle">Nome:</p>
        {% render_field form.nome class="form-control" %}
    </div>

    <div class="col-sm-3">
        <p class="align-middle">Preço:</p>
        {% render_field form.preco class="form-control" %}
    </div>

    <div class="col-sm-3">
        <p class="align-middle" style="margin-bottom:">Estoque:</p>
        {% render_field form.estoque class="form-control" %}
    </div>  

    <div class="col-xg-12">
        <p class="align-middle">Descrição:</p>
        {% render_field form.descricao class="form-control" %}
    </div> 

    <div class="col-xg-12">
        <p class="align-middle">Imagem:</p>
        {% render_field form.imagem class="form-control" %}
    </div>

    <div class="col-1">
        <p></p>
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
    <div class="col-1">
        <p></p>
        <a href={% url 'produto.home' %} class="btn btn-primary">Voltar</a>
    </div>




</form>

{% endblock %}